.header-styles small, h4{
  color:white;
  text-shadow: 1px 1px black;
}
.portfolio-item{
  color:white;
  text-shadow: 1px 1px black;
}
.side-menu-item .clp {
  color: ghostwhite;
  font-family: math;
  font-size: large;
}
.aclogo {
  padding-bottom:20px;
  width:200px;
}
.text-smalldanger {
  color: #f59a9b;
  font-size:large;
}
.side-menu-item {
  border: 2px solid palegreen;
  margin:2px;
  text-shadow: 1px 1px black;
}
.content-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top:-20px;
}
.content-area1 {
  font-family: math;
}
.content-area2 {
  margin-top:10px;
}
.insta {
  color: #a386ad;
}
.text-writing{
  background-color:white;
  color: #de52b8;
  padding-bottom: 5px;
}
.side-menu-item{
  display:block;
  height:100px; 
}
.doctor-of{
  margin-left: 15px;
}
#content-area4 .card{
  margin-top:10px;
}
.cv_color{
  background-color:#010101;
  margin-left: -150px;
  min-width: 1500px;
  padding-left: 150px;
}
