.header-styles small, h4{
  color:white;
  text-shadow: 1px 1px black;
}
.portfolio-item{
  color:white;
  text-shadow: 1px 1px black;
}
.side-menu-item .clp {
  color: ghostwhite;
  font-family: math;
  font-size: larger;
}
.aclogo {
  padding-bottom:20px;
  width:200px;
}
.text-smalldanger {
  color: #f59a9b;
  font-size:large;
}
.side-menu-item {
/*  border: 2px solid palegreen;
  margin:2px;*/
  text-shadow: 1px 1px black;
  margin-left:-16px;
}
.content-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top:-20px;
}
.content-area1 {
  font-family: math;
}
.insta {
  color: #a386ad;
}
.text-writing{
  background-color:white;
  color: #de52b8;
  padding-bottom: 5px;
}
.side-menu-item{
  display:block;
  height:60px; 
}
.doctor-of{
  margin-left: 15px;
}
.cv_color{
  background-color:#010101;
  margin-left: -250px;
  margin-right: -250px;

/*  min-width: 1500px; */
  padding-left: 150px;
  padding-bottom: 50px;
  padding-top:20px;

}
.side-menu-desktop {
  display: none;
  padding-bottom: 30px;
}
.intro-vid-desk{
  display: none;
}
.side-menu-mobile{
  margin-bottom: 40px;
  margin-left: 20px;
}
.side-menu-mobile .btn{
  margin:10px;
}
.default-area{
  display: block;
  min-height:60px;
}
@media (min-width: 800px) {
  .cv_color {
    padding-bottom: 0;
    min-width: 1500px;  
  }
  .side-menu-desktop {
    display: block;
  }
  .side-menu-mobile{
    display: none;
  }
  .default-area{
    display: none;
  }
.intro-vid-desk{
  display: block;
}


}